default:
    suites:
        health_check:
            paths: [ tests/app/features/health_check ]
            contexts:
                - School\Tests\Shared\Infrastructure\Behat\ApiContext
        student:
            paths: [ tests/app/features/student ]
            contexts:
                - School\Tests\Shared\Infrastructure\Behat\ApiContext
        course:
            paths: [ tests/app/features/course ]
            contexts:
                - School\Tests\Shared\Infrastructure\Behat\ApiContext
        enrollment:
            paths: [ tests/app/features/enrollment ]
            contexts:
                - School\Tests\Shared\Infrastructure\Behat\ApiContext
        exam:
            paths: [ tests/app/features/course_exam ]
            contexts:
                - School\Tests\Shared\Infrastructure\Behat\ApiContext
        grade:
            paths: [ tests/app/features/grade ]
            contexts:
                - School\Tests\Shared\Infrastructure\Behat\ApiContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
                environment: test
                debug: ~
            bootstrap: config/bootstrap.php
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~