default:
    suites:
        health_check:
            paths: [ tests/app/features/health_check ]
            contexts:
                - App\Tests\Shared\Infrastructure\Behat\ApiContext
        student:
            paths: [ tests/app/features/student ]
            contexts:
                - App\Tests\Shared\Infrastructure\Behat\ApiContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
                environment: test
                debug: ~
            bootstrap: config/bootstrap.php
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~